<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="orange">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login">会员登录</div>
	<div class="home_banner_intro bg">新手上路</div>
	<div class="home_banner_input bg">
		<input type="text" id="home_search_input">
	</div>
	<div class="home_banner_search bg" id="home_search_btn">search</div>
	<div class="cate_banner_line"></div>
</div>

<div class="home_nav clearfix">
	<div class="home_nav_left clearfix">
		<a class="home_nav_li orange" href="http://www.baidu.com" target="_blank">首页</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">试题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">备课</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">课件</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">素材</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">习题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">学案</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">教案</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">教案</a>
		<a class="home_nav_li orange" href="http://www.baidu.com" target="_blank">中考</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">汇总</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">专题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">作文</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">方法</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">动态</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">家长</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">名师</a>
	</div>
	<div class="home_nav_right clearfix">
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">北京</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">天津</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">上海</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">重庆</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">河北</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">河南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">江苏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">浙江</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">山东</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">江西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">安徽</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">福建</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">广西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">广东</a>
		<a class="home_nav_li long" href="http://www.baidu.com" target="_blank">内蒙古</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">云南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">贵州</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">四川</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">湖南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">湖北</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">陕西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">山西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">新疆</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">青海</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">甘肃</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">宁夏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">西藏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">吉林</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">辽宁</a>
		<a class="home_nav_li long" href="http://www.baidu.com" target="_blank">黑龙江</a>
	</div>
</div>

<div class="cate_nav clearfix">
	<div class="cate_nav_title">备课导航</div>
	<div class="cate_nav_row clearfix">
		<div class="cate_nav_type">地区</div>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">北京</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">天津</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">上海</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">重庆</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">河北</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">河南</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">江苏</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">浙江</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">山东</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">江西</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">安徽</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">福建</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">广西</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">广东</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">云南</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">贵州</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">四川</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">湖南</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">湖北</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">陕西</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">山西</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">新疆</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">青海</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">甘肃</a>
	</div>
	<div class="cate_nav_row clearfix">
		<div class="cate_nav_type">学科</div>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">语文</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">数学</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">英语</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">物理</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">化学</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">生物</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">历史</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">地理</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">政治</a>
		<a class="cate_nav_li" href="http://www.baidu.com" target="_blank">科学</a>
	</div>
	<div class="cate_nav_line"></div>	
</div>

<div class="cate_scope">
	<div class="cate_ttop">
		<a class="cate_tmore left" href="http://www.baidu.com" target="_blank">more</a>
		<div class="cate_ttitle left">免费资源</div>
		<div class="cate_ttitle mid">最新备课</div>		
		<a class="cate_tmore mid" href="http://www.baidu.com" target="_blank">more</a>
		<div class="cate_ttitle right">排行榜</div>
		<a class="cate_tmore right" href="http://www.baidu.com" target="_blank">more</a>
	</div>
</div>

<div class="cate_scope clearfix">
	<div class="cate_side">
		<div class="cate_mblock">
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="gt" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
		<div class="cate_stop">
			<div class="cate_stitle">精品专题</div>
			<a class="cate_smore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="cate_sblock"></div>
	</div>
	<div class="cate_mid"></div>
	<div class="cate_side">
		<div class="cate_mblock"></div>
		<div class="cate_stop">
			<div class="cate_stitle">精品套卷</div>
			<a class="cate_smore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="cate_sblock"></div>
	</div>
</div>

<div class="cate_scope clearfix">
	<div class="cate_entry left">
		<div class="cate_mtop">
			<div class="cate_mtitle">数学备课</div>
			<a class="cate_mmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="cate_bblock"></div>
	</div>
	<div class="cate_entry">
		<div class="cate_mtop">
			<div class="cate_mtitle">语文备课</div>
			<a class="cate_mmore" href="http://www.baidu.com" target="_blank">more</a>	
		</div>
		<div class="cate_bblock"></div>
	</div>
	<div class="cate_entry left">
		<div class="cate_mtop">
			<div class="cate_mtitle">数学备课</div>
			<a class="cate_mmore" href="http://www.baidu.com" target="_blank">more</a>	
		</div>
		<div class="cate_bblock"></div>
	</div>
	<div class="cate_entry">
		<div class="cate_mtop">
			<div class="cate_mtitle">语文备课</div>
			<a class="cate_mmore" href="http://www.baidu.com" target="_blank">more</a>	
		</div>
		<div class="cate_bblock"></div>
	</div>
	<div class="cate_entry left">
		<div class="cate_mtop">
			<div class="cate_mtitle">数学备课</div>
			<a class="cate_mmore" href="http://www.baidu.com" target="_blank">more</a>	
		</div>
		<div class="cate_bblock"></div>
	</div>
	<div class="cate_entry">
		<div class="cate_mtop">
			<div class="cate_mtitle">语文备课</div>
			<a class="cate_mmore" href="http://www.baidu.com" target="_blank">more</a>	
		</div>
		<div class="cate_bblock"></div>
	</div>
</div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>