<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body" class="course">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login">会员登录</div>
	<div class="home_banner_intro bg">新手上路</div>
	<div class="home_banner_input bg">
		<input type="text" id="home_search_input">
	</div>
	<div class="home_banner_search bg" id="home_search_btn">search</div>
	<div class="cate_banner_line"></div>
</div>

<div class="course_scope narrow clearfix">
	<div class="course_bblock">
		<div class="course_btop clearfix">
			<div class="course_btitle">最新资源</div>
			<a class="course_bmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="course_bbody">
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_bblock">
		<div class="course_btop clearfix">
			<div class="course_btitle">名校试题</div>
			<a class="course_bmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="course_bbody">
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_bblock">
		<div class="course_btop clearfix">
			<div class="course_btitle">热点排行</div>
			<a class="course_bmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="course_bbody">
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_bblock">
		<div class="course_btop clearfix">
			<div class="course_btitle">免费资料</div>
			<a class="course_bmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="course_bbody">
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_bblock">
		<div class="course_btop clearfix">
			<div class="course_btitle">精品推荐</div>
			<a class="course_bmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="course_bbody">
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_bblock">
		<div class="course_btop clearfix">
			<div class="course_btitle">中考热点</div>
			<a class="course_bmore" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="course_bbody">
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_bli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
</div>

<div class="course_scope clearfix">
	<div class="course_htitle">
		<div class="course_arrow">教师备课</div>
		<div class="course_hollow">
			<div class="course_line"></div>
		</div>	
	</div>
</div>

<div class="course_scope box clearfix">
	<div class="course_l">
		<div class="course_ltitle">英语专题导航</div>
		<div class="course_lboard">
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_r clearfix">
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">名师教案</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">精品课件</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">学案导学</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">同步练习</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock wide">
			<div class="course_stop">
				<div class="course_stitle">教学素材</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
			<div class="course_sbody right">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>	
	</div>
</div>

<div class="course_scope clearfix">
	<div class="course_htitle">
		<div class="course_arrow">好题快递</div>
		<div class="course_hollow clearfix">
			<a class="course_btn" href="http://www.baidu.com" target="_blank">名校月考</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">期中考试</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">期末考试</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">中考模拟</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">中考真题</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">归纳总结</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">专项突破</a>
			<a class="course_btn" href="http://www.baidu.com" target="_blank">竞赛杯赛</a>
		</div>
	</div>
</div>

<div class="course_scope box clearfix">
	<div class="course_l">
		<div class="course_ltitle">英语试题排行榜</div>
		<div class="course_lboard">
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			<a class="course_lli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
		</div>
	</div>
	<div class="course_r clearfix">
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">最新月考</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">中考模拟</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">期中考试</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock">
			<div class="course_stop">
				<div class="course_stitle">期末考试</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>
		<div class="course_sblock wide">
			<div class="course_stop">
				<div class="course_stitle">中考真题</div>
				<div class="course_sline"></div>
				<a class="course_smore" href="http://www.baidu.com" target="_blank">more</a>
			</div>
			<div class="course_sbody">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
			<div class="course_sbody right">
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
				<a class="course_sli" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头</a>
			</div>
		</div>	
	</div>
</div>




<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>