<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login">会员登录</div>
	<div class="home_banner_intro bg">新手上路</div>
	<div class="home_banner_input bg">
		<input type="text" id="home_search_input">
	</div>
	<div class="home_banner_search bg" id="home_search_btn">search</div>	
</div>

<div class="home_nav clearfix">
	<div class="home_nav_left clearfix">
		<a class="home_nav_li green" href="http://www.baidu.com" target="_blank">首页</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">试题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">备课</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">课件</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">素材</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">习题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">学案</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">教案</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">教案</a>
		<a class="home_nav_li green" href="http://www.baidu.com" target="_blank">中考</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">汇总</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">专题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">作文</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">方法</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">动态</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">家长</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">名师</a>
	</div>
	<div class="home_nav_right clearfix">
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">北京</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">天津</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">上海</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">重庆</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">河北</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">河南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">江苏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">浙江</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">山东</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">江西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">安徽</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">福建</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">广西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">广东</a>
		<a class="home_nav_li long" href="http://www.baidu.com" target="_blank">内蒙古</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">云南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">贵州</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">四川</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">湖南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">湖北</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">陕西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">山西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">新疆</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">青海</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">甘肃</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">宁夏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">西藏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">吉林</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">辽宁</a>
		<a class="home_nav_li long" href="http://www.baidu.com" target="_blank">黑龙江</a>
	</div>
</div>

<div class="spe_scope clearfix" style="width:960px;">
	<div class="spe_block" style="margin-right:20px;">
		<div class="spe_top">
			<div class="spe_title">热点下载</div>
			<a class="spe_more" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="spe_content">
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
		</div>
	</div>
	<div class="spe_block">
		<div class="spe_top">
			<div class="spe_title">最近更新</div>
			<a class="spe_more" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="spe_content"></div>
	</div>
</div>

<div class="dt-box">
	<div class="dt-title">提高学习成绩的七字要诀</div>
	<div class="dt-info">2014-05-18 21:21:28 来源: 学涯中考网</div>
	<p>一、懂 </p>
	<p>一个人做任何一件事情都要首先弄清楚为什么要这样做，在没弄明白它其中的道理之前，不应该盲目地行动。学习也不例外。在学习的过程中，首先是通过听老师讲解和阅读教科书，弄懂每一章节中的概念、定义、定理和公式究竟是什么意思，和以前的知识之间有什么联系，是怎样演化而来的？而不应死记硬背地只是记住。记住肯定是必要的，但应在理解的基础上记忆，否则，如果连什么意思都弄不明白，那么如何谈得上灵活应用？就是记住的东西也是死的，也会很快忘记。</p>
	<p>二、会</p>
	<p>懂了不就是会了吗？不！懂了并不代表你就学会了。学生上课听老师讲解听懂了，阅读教科书读懂了，只是明白了其中的道理，或者只是表面上明白了其中的道理，但若要自己独立再重复一遍，就不一定能做得出来，因此，只有认真做一下课后的练习，反复体会，才能逐步明白而达到会。例如，学游泳，要先听教练讲解游泳的动作要领。懂了吗？懂了。会了吗？下到水中试一试，发现还不会。再去琢磨体会动作的每一个要领，再反复练习，必要时请教练为你纠正不正确的动作，再反复练习，终于你可以在水中漂起来了，或按照要领做了几个比较规范的动作，这时才可以说你学会了，而且还只是初步的会。这时，你再去体会游泳的动作要领，就会发现这时的“懂”已经比一开始进了一大步。人们的认识过程总是由浅入深，由简单到复杂，所以学习中的“懂”和“会”也是有层次的。简单的听懂了、学会了，遇到复杂的就又不懂、又不会了。只有经过不断地学习，不断地练习，才能不断地从不懂到懂，从不会到会，从“浅懂”到“深懂”，从“半会”到“全会”，从“假会”到“真会”。</p>
	<p>我们许多学生学习之所以费力，成绩上不去，主要是一开始对概念的理解不重视，课后只是为了完成老师布置的任务去做作业，而不是从认识事物的角度去琢磨其概念的真正涵义是什么，满足于一知半解，完成作业即完事大吉，于是随着学习的深入，就感到越来越吃力。还有，许多学生常常满足于听懂了，看懂了，很少再动手去做几遍，不注意课后的练习，甚至连老师布置的作业都逃避不做，日积月累，问题逐渐增多，等想学了，才发现为时已晚，学不会了。在教学中我常常建议学生们在做作业之前，要把教科书先看一遍，复习一下每一章节的概念，把例题多做几遍，一边做一边琢磨解题的每一步骤都用了哪些概念，用了什么定理和公式，解题的思路是什么？这些问题都弄清楚了，做起作业来，速度也会快许多，甚至于所用时间的总和，比不看书，不做例题，直接做作业的时间还要少。因此，在做题之前一定要先弄懂概念，而懂了之后若不马上动手做一做，就仍然还是不会。如此这般，问题越积越多，学习当然就会越来越困难。</p>
</div>

<div class="admin_belt"></div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>