<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login">会员登录</div>
	<div class="home_banner_intro bg">新手上路</div>
	<div class="home_banner_input bg">
		<input type="text" id="home_search_input">
	</div>
	<div class="home_banner_search bg" id="home_search_btn">search</div>	
</div>

<div class="home_nav clearfix">
	<div class="home_nav_left clearfix">
		<a class="home_nav_li green" href="http://www.baidu.com" target="_blank">首页</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">试题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">备课</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">课件</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">素材</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">习题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">学案</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">教案</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">教案</a>
		<a class="home_nav_li green" href="http://www.baidu.com" target="_blank">中考</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">汇总</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">专题</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">作文</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">方法</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">动态</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">家长</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">名师</a>
	</div>
	<div class="home_nav_right clearfix">
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">北京</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">天津</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">上海</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">重庆</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">河北</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">河南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">江苏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">浙江</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">山东</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">江西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">安徽</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">福建</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">广西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">广东</a>
		<a class="home_nav_li long" href="http://www.baidu.com" target="_blank">内蒙古</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">云南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">贵州</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">四川</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">湖南</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">湖北</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">陕西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">山西</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">新疆</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">青海</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">甘肃</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">宁夏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">西藏</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">吉林</a>
		<a class="home_nav_li" href="http://www.baidu.com" target="_blank">辽宁</a>
		<a class="home_nav_li long" href="http://www.baidu.com" target="_blank">黑龙江</a>
	</div>
</div>

<div class="dl_scope clearfix">
	<div class="dl_detail">
		<div class="dl_detail_top">2010年下半年时事政治—学生期末考试专用(最新版)</div>
		<div class="dl_detail_body">
			<div class="dl_detail_content">
				<div class="dl_detail_row clearfix">
					<span class="dl_detail_lt">科目：政治</span>
					<span class="dl_detail_rt">类型：不限</span>
				</div>
				<div class="dl_detail_row clearfix">
					<span class="dl_detail_lt">版本：无</span>
					<span class="dl_detail_rt">年级：不限</span>
				</div>
				<div class="dl_detail_row clearfix"></div>
				<div class="dl_detail_row clearfix">
					<span class="dl_detail_lt">时间：2013-10-12  19:44:08</span>
					<span class="dl_detail_rt">上传：李立刚</span>
				</div>
				<div class="dl_detail_row clearfix">
					<span class="dl_detail_lt">大小：23.82K</span>
				</div>
				<div class="dl_detail_row clearfix"></div>
				<div class="dl_detail_row clearfix">
					<span class="dl_detail_lt">下载点数：2</span>
				</div>
				<div class="dl_detail_row clearfix">
					<span class="dl_detail_lt">下载次数：1</span>
				</div>
				<div class="dl_detail_btn"></div>
			</div>
		</div>
	</div>
	<div class="dl_right">
		<div class="dl_right_top">热点下载</div>
		<div class="dl_right_body">
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
		</div>
	</div>
	<div class="dl_comment">
		<div class="dl_comment_top">2010年下半年时事政治—学生期末考试专用(最新版)</div>
		<div class="dl_comment_body">
			<div class="dl_comment_board">
				<div class="dl_comment_topic">综合评价</div>
				<div class="dl_comment_chart">
					<div class="dl_comment_row clearfix">
						<div class="dl_comment_text">很棒</div>
						<div class="dl_comment_num red">163</div>
						<div class="dl_comment_bar red" style="width:200px"></div>
					</div>
					<div class="dl_comment_row clearfix">
						<div class="dl_comment_text">一般</div>
						<div class="dl_comment_num green">69</div>
						<div class="dl_comment_bar green" style="width:90px"></div>
					</div>
					<div class="dl_comment_row clearfix">
						<div class="dl_comment_text">不好</div>
						<div class="dl_comment_num blue">21</div>
						<div class="dl_comment_bar blue" style="width:30px"></div>
					</div>
				</div>
				<div class="dl_comment_content clearfix">
					<div class="dl_comment_ul">
						<div class="dl_comment_li first">
							<div class="dl_comment_words">很不错！</div>
							<div class="dl_comment_user">阿里小芬</div>
							<div class="dl_comment_time">2014-10-23 19：00</div>
						</div>
						<div class="dl_comment_li">
							<div class="dl_comment_words">还可以把</div>
							<div class="dl_comment_user">阿里小芬</div>
							<div class="dl_comment_time">2014-10-23 19：00</div>
						</div>
						<div class="dl_comment_li">
							<div class="dl_comment_words">自己看下吧……主要也是看你需不需要</div>
							<div class="dl_comment_user">阿里小芬</div>
							<div class="dl_comment_time">2014-10-23 19：00</div>
						</div>			
					</div>
					<div class="dl_comment_page">
						<div class="dl_comment_btn up"></div>
						<div class="dl_comment_pageNo">9</div>
						<div class="dl_comment_btn down"></div>
					</div>
				</div>
			</div>
			<div class="dl_comment_speak">
				<div class="dl_comment_tip clearfix">
					<span class="dl_comment_write">写评论</span>
					<span class="dl_comment_count">(0/80)</span>
				</div>
				<textarea class="dl_comment_ta"></textarea>
			</div>		
			<div class="dl_comment_btm clearfix">
				<div class="dl_comment_rate clearfix">
					<div class="dl_comment_icon red"></div>
					<div class="dl_comment_text red">很棒</div>
					<div class="dl_comment_icon green"></div>
					<div class="dl_comment_text green">一般</div>
					<div class="dl_comment_icon blue"></div>
					<div class="dl_comment_text blue">不好</div>
				</div>
				<div class="dl_comment_claim">(最多字符数量140) ,请勿发表含有政治、色情、辱骂以及与本资源无关的评论</div>
				<div class="dl_comment_submit">发表</div>
			</div>
		</div>
	</div>
	<div class="dl_right">
		<div class="dl_right_top">最新更新</div>
		<div class="dl_right_body">
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
			<a class="dl_right_li" href="http://www.baidu.com" target="_blank">新电商制霸战：一次来自楼宇的竞争</a>
		</div>
	</div>	
</div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>