<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="ifr_box" style="height:640px;">
	<div class="ifr_title">上传日志</div>
	<a class="ifr_pwd" href="http://www.baidu.com" target="_blank">修改密码</a>
	<div class="ifr_inner" style="width:565px; height:500px;">
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status on">已上传</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status off">未通过</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status off">未通过</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status wait">审核中</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
		<div class="ifr_log_entry">
			<span class="ifr_log_status wait">审核中</span>
			<span class="ifr_log_tip">上传了资源：</span>
			<span class="ifr_log_name ellipsis" title="数学我们周围的经典试题，河北四校联考复习">数学我们周围的经典试题，河北四校联考复习</span>
			<span class="ifr_log_time">2014-09-09 09:15:26</span>
		</div>
	</div>
	<div class="ifr_page clearfix">
		<div class="ifr_board">
			<span>共57条</span>
			<span style="margin-left:30px;">第1/8页</span>			
		</div>
		<div class="ifr_short" style="margin-left:30px;">首页</div>
		<div class="ifr_long" style="margin-left:10px;">上一页</div>		
		<div class="ifr_num">
			<span class="ifr_pn selected">1</span>
			<span class="ifr_pn">2</span>
			<span class="ifr_pn">3</span>
			<span class="ifr_pn">4</span>
			<span class="ifr_pn">5</span>
			<span class="ifr_pn">6</span>
			<span class="ifr_pn">7</span>			
		</div>
		<div class="ifr_long">下一页</div>
		<div class="ifr_short" style="margin-left:10px;">末页</div>
	</div>
</div>

</body>
</html>