<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="ifr_box" style="height:310px;">
	<div class="ifr_title">会员信息</div>
	<div class="ifr_list clearfix">
		<div class="ifr_user_entry">
			<span class="ifr_user_l">用户名：</span>
			<span class="ifr_user_r">李立刚</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">登录次数：</span>
			<span class="ifr_user_r">231</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">邮箱地址：</span>
			<span class="ifr_user_r">123456@qq.com</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">用户类型：</span>
			<span class="ifr_user_r">普通用户</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">可用点数：</span>
			<span class="ifr_user_r">6</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">最后登录日期：</span>
			<span class="ifr_user_r">2014-09-13 14:14:32</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">注册日期：</span>
			<span class="ifr_user_r">2013-07-02 13:48:18</span>
		</div>
		<div class="ifr_user_entry">
			<span class="ifr_user_l">资源下载：</span>
			<span class="ifr_user_r">34</span>
		</div>		
	</div>
	<a class="ifr_btm_btn" href="http://www.baidu.com" target="_blank">修改密码</a>
</div>

</body>
</html>