<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="ifr_box" style="height:660px; background:white;">
	<div class="ifr_title">上传资源</div>
	<div class="ifr_list clearfix" style="height:430px;">
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">资源类型</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">所属学科</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">所属年级</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">选择版本</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">所属地区</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">资源来源</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">资源分类</div>
			<div class="ifr_rsc_r clearfix">
				<div class="ifr_rsc_s"></div>
				<div class="ifr_rsc_b"></div>
			</div>
		</div>

		<div class="ifr_rsc_entry"></div>

		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">选择资源</div>
			<div class="ifr_rsc_r nb clearfix">
				<div class="ifr_rsc_ub">选择文件</div>
				<div class="ifr_rsc_up">未选择文件</div>
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">上传截图</div>
			<div class="ifr_rsc_r nb clearfix">
				<div class="ifr_rsc_ub">选择文件</div>
				<div class="ifr_rsc_up">未选择文件</div>
			</div>
		</div>

		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">资源名称</div>
			<div class="ifr_rsc_r">
				<input class="ifr_rsc_i" type="text">
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">资源作者</div>
			<div class="ifr_rsc_r">
				<input class="ifr_rsc_i" type="text">
			</div>
		</div>
		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">其关键词</div>
			<div class="ifr_rsc_r">
				<input class="ifr_rsc_i" type="text">
			</div>
		</div>

		<div class="ifr_rsc_entry"></div>

		<div class="ifr_rsc_entry clearfix">
			<div class="ifr_rsc_t">其关键词</div>
			<div class="ifr_rsc_r nb">
				<textarea></textarea>
			</div>
		</div>
	</div>
	<div class="ifr_rsc_confirm">上传</div>
	<a class="ifr_btm_btn" href="http://www.baidu.com" target="_blank">资源上传列表</a>
</div>

</body>
</html>