<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<a class="home_banner_tip" href="http://www.zk51.com.cn/" target="_blank">网站首页 www.zk51.com.cn</a>	
</div>

<div class="home_top">
	<div class="home_top_scope clearfix">
		<div class="home_top_left">
			<a class="home_top_opt" href="http://www.baidu.com" target="_blank">在线客服</a>
			<a class="home_top_opt" href="http://www.baidu.com" target="_blank">上传资料</a>
			<a class="home_top_opt" href="http://www.baidu.com" target="_blank">会员充值</a>
			<a class="home_top_opt" href="http://www.baidu.com" target="_blank">联系我们</a>
		</div>
		<div class="home_top_right">
			<span class="home_top_text">今日更新：</span>
			<span class="home_top_num">0</span>
			<span class="home_top_text">本周：</span>
			<span class="home_top_num">0</span>
			<span class="home_top_text">总量：</span>
			<span class="home_top_num">169625</span>
		</div>
	</div>
</div>

<div class="login-body">
	<div class="login-l"></div>
	<div class="login-r">
		<div class="login-title">学涯登录</div>
		<div class="login-row login-1">
			<span>帐号</span>
			<input type="text">
		</div>
		<div class="login-row login-2">
			<span>密码</span>
			<input type="text">
		</div>
		<div class="login-row login-3">
			<span>验证码</span>
			<input type="text">
			<div class="login-code"></div>
		</div>
		<input type="checkbox" class="login-check">
		<span class="login-tip">记住帐号和密码</span>
		<div class="login-submit">登录</div>
		<div class="login-register">免费注册</div>
		<div class="login-find">找回密码</div>
	</div>
</div>

<div class="login-btm"></div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">合作单位</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">招募代理</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

</body>
</html>