<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login">会员登录</div>
	<div class="home_banner_intro bg">新手上路</div>
	<div class="home_banner_input bg">
		<input type="text" id="home_search_input">
	</div>
	<div class="home_banner_search bg" id="home_search_btn">search</div>
</div>

<div class="nav_scope clearfix">
	<div class="nav_left">
		<div class="nav_left_top">分类导航</div>
		<div class="nav_left_body clearfix">
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">精品专题</a>
			<a class="nav_left_li selected" href="http://www.baidu.com" target="_blank">学习方法</a>
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">考试动态</a>
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">家有考生</a>
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">名师解读</a>
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">初中作文</a>
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">精品作文</a>
			<a class="nav_left_li" href="http://www.baidu.com" target="_blank">中考热点</a>
		</div>
	</div>
	<div class="nav_right">
		<div class="nav_right_ul">
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">走出初中英语词汇学习误区</a>
				<div class="nav_li_download"></div>
			</div>
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">提高学习成绩七字要诀</a>
				<div class="nav_li_download"></div>
			</div>
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">学期预习的几个技巧</a>
				<div class="nav_li_download"></div>
			</div>
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">狠抓基础    基础题    一分都不能丢</a>
				<div class="nav_li_download"></div>
			</div>
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">不让问题过夜</a>
				<div class="nav_li_download"></div>
			</div>
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">错题本让错误变得有价值</a>
				<div class="nav_li_download"></div>
			</div>
			<div class="nav_right_li">
				<a class="nav_li_text" href="http://www.baidu.com" target="_blank">提高学习效率的六大诀窍</a>
				<div class="nav_li_download"></div>
			</div>
		</div>
		<div class="nav_right_page clearfix">
			<div class="nav_page_arrow left"></div>
			<div class="nav_page_num">8</div>
			<div class="nav_page_num">9</div>
			<div class="nav_page_num">10</div>
			<div class="nav_page_num">11</div>
			<div class="nav_page_num selected">12</div>
			<div class="nav_page_num">13</div>
			<div class="nav_page_num">14</div>
			<div class="nav_page_num">15</div>
			<div class="nav_page_num">16</div>
			<div class="nav_page_arrow right"></div>

			<div class="nav_page_go">GO</div>
			<span class="nav_page_text">页</span>
			<input class="nav_page_input" type="text">
			<span class="nav_page_text">第</span>				
		</div>
	</div>
</div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>