<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login" style="top:40px">会员登录</div>
	<div class="home_banner_intro bg" style="top:40px">新手上路</div>
</div>

<div class="admin_belt"></div>

<div class="spe_search">
	<input type="text" class="spe_search_input">
	<div class="spe_search_btn">search</div>
</div>

<div class="spe_scope se-box">
	<div class="se-form">
		<select>
			<option>请选择类型</option>
			<option>选项1</option>
			<option>选项2</option>
		</select>
		<select>
			<option>请选择科目</option>
			<option>选项1</option>
			<option>选项2</option>
		</select>
		<select>
			<option>请选择地区</option>
			<option>选项1</option>
			<option>选项2</option>
		</select>
		<select>
			<option>请选择年级</option>
			<option>选项1</option>
			<option>选项2</option>
		</select>
		<div class="se-submit">确定</div>
	</div>
	<ul class="se-ul">
		<li>
			<p>
				<span>下载次数：</span>
				<span class="red">32</span>
				<span class="red flr">2014-08-16</span>
				<span class="flr">上传时间：</span>
			</p>
			<p class="blue">语文阅读技巧</p>
		</li>
		<li>
			<p>
				<span>下载次数：</span>
				<span class="red">32</span>
				<span class="red flr">2014-08-16</span>
				<span class="flr">上传时间：</span>
			</p>
			<p class="blue">语文阅读技巧</p>
		</li>
		<li>
			<p>
				<span>下载次数：</span>
				<span class="red">32</span>
				<span class="red flr">2014-08-16</span>
				<span class="flr">上传时间：</span>
			</p>
			<p class="blue">语文阅读技巧</p>
		</li>
	</ul>
</div>

<div class="se-page">
	<div class="se-info clearfix">
		<span class="fll">共 18327 条</span>
		<span class="flr">第 1/8438页</span>
	</div>
	<div class="se-r">
		<span class="se-btn">首页</span>
		<span class="se-btn">上一页</span>
		<span>1</span>
		<span>2</span>
		<span>3</span>
		<span>4</span>
		<span>5</span>
		<span>6</span>
		<span class="se-btn">下一页</span>
		<span class="se-btn">末页</span>
	</div>
</div>

<div class="admin_belt"></div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>