<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>学涯中考网</title>
	<link rel="stylesheet" type="text/css" href="../css/xueya0.2.css">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body">

<div class="home_banner">	
	<div class="home_banner_logo bg"></div>
	<div class="home_banner_title clearfix">
		<span>学涯</span>
		<span class="blue">中考</span>
		<span>网</span>
	</div>
	<div class="home_banner_url">www.zk51.com.cn</div>
	<div class="home_banner_user bg" id="login" style="top:40px">会员登录</div>
	<div class="home_banner_intro bg" style="top:40px">新手上路</div>
</div>

<div class="spe_banner">
	<div class="spe_banner_l">专题内容</div>
	<div class="spe_banner_sep"></div>	
	<div class="spe_banner_r">中考总复习精品教案课件</div>
</div>

<div class="spe_search">
	<input type="text" class="spe_search_input">
	<div class="spe_search_btn">search</div>
</div>

<div class="spe_scope clearfix" style="width:960px;">
	<div class="spe_block" style="margin-right:20px;">
		<div class="spe_top">
			<div class="spe_title">热门资料</div>
			<a class="spe_more" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="spe_content">
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
			<a class="gt big" href="http://www.baidu.com" target="_blank">A股行情进爆发初期 揭秘后市谁是领涨龙头A股行情进爆发初期</a>
		</div>
	</div>
	<div class="spe_block">
		<div class="spe_top">
			<div class="spe_title">热门专题</div>
			<a class="spe_more" href="http://www.baidu.com" target="_blank">more</a>
		</div>
		<div class="spe_content"></div>
	</div>
</div>

<div class="spe_big" style="margin-top:20px; margin-bottom:20px;">
	<div class="spe_inner">
		<div class="spe_list">
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
			<div class="spe_entry">
				<a class="spe_text" href="http://www.baidu.com" target="_blank">2011年中考历史总复习教学案—第2课时中国古代史（2）统一国家的建立、政权分立与民族融合</a>
				<a class="spe_dl" href="http://www.baidu.com" target="_blank"></a>
			</div>
		</div>
		<div class="nav_right_page clearfix">
			<div class="nav_page_arrow left"></div>
			<div class="nav_page_num">8</div>
			<div class="nav_page_num">9</div>
			<div class="nav_page_num">10</div>
			<div class="nav_page_num">11</div>
			<div class="nav_page_num selected">12</div>
			<div class="nav_page_num">13</div>
			<div class="nav_page_num">14</div>
			<div class="nav_page_num">15</div>
			<div class="nav_page_num">16</div>
			<div class="nav_page_arrow right"></div>

			<div class="nav_page_go">GO</div>
			<span class="nav_page_text">页</span>
			<input class="nav_page_input" type="text">
			<span class="nav_page_text">第</span>				
		</div>
	</div>
</div>

<div class="home_end">
	<div class="home_end_row">
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">关于网站</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">联系我们</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">免责声明</a>|
		<a class="home_end_about" href="http://www.baidu.com" target="_blank">投诉建议</a>
	</div>
	<div class="home_end_row">Copyright © 2006-2014 xueya.com, All Rights Reserved 学涯中考网 京ICP证110737号</div>
	<div class="home_end_row">京公网安备110106100076号 京ICP备11029505号-1 </div>
</div>

<!-- 登录弹窗 -->
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript">new Login();</script>

</body>
</html>